#yes {
background-color: rgb(11, 11, 204);
font-weight: 700;
color: white;
    
}
    
.red{
color: red;

}
 #grey {
background-color: rgb(255, 255, 255);
}   

body {
background-color: #E3F2FD;
}
#words {
background-color: #0D47A1;
}
#actions {
color: #76E1FF;    
font-size: 400;
}

     

